name: Criar Release ZIP
on:
  workflow_dispatch:
     inputs:
       tag_name:
          description: 'Versão da Release (ex: v1.0.0)'
          required: true
          default: 'v1.0.0'
       release_name:
          description: 'Nome da Release'
          required: true
          default: 'v1.0.0'
       pre_release:
           description: 'Marcar como Pre-Release?'
           required: false
           default: false
           type: boolean

permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v3

    - name: Criar zip
      id: create_zip
      run: |
        ZIP_FILE="repository-package-${{ github.event.inputs.tag_name }}.zip"
        git archive -o $ZIP_FILE HEAD
        echo "zip_file=$ZIP_FILE" >> $GITHUB_OUTPUT
    - name: Criar Release no GitHub
      id: create_release
      uses: actions/create-release@v1
      with:
          tag_name: ${{ github.event.inputs.tag_name }}
          release_name: ${{ github.event.inputs.release_name }}
          draft: false
          prerelease: ${{ github.event.inputs.pre_release }}
          body: "Release ${{ github.event.inputs.tag_name }} criada automaticamente."
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Fazer upload do ZIP para a Release
      uses: actions/upload-release-asset@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.create_zip.outputs.zip_file }}
          asset_name: ${{ steps.create_zip.outputs.zip_file }}
          asset_content_type: application/zip
     